{% extends "layout.html" %}


{% block body %}
    <div class="container my-3 login-container">
        <div id="login-section">
            <p class="h2 text-center text-dark mb-4">Registeration Form</p>
            <form action="/register", method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.username(class="form-control", placeholder="Please enter your name")}}
                </div>
                <div class="form-group">
                    {{form.password(class="form-control", placeholder="Please enter your password")}}
                </div>
                <div class="form-group">
                    {{form.pass_confirm(class="form-control", placeholder="Please confirm your password")}}
                </div>
                <div class="form-group">
                    {{form.register(class="form-control btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


